body {
  margin: 0;
  background-color: cadetblue;
  padding: 50px 200px;
}

.title-name {
  text-align: center;
  line-height: 50px;
  font-size: 36px;
  font-weight: bold;
}

.profile-image {
  width: 100px;
  max-width: 100px;
  height: 100px;
  max-height: 100px;
}

.skills-layout .skills__item {
  margin-bottom: 10px;
}

.title-name:hover, .section__title:hover, .position:hover {
  animation: bounce;
  animation-duration:2s;
}

.profile-image > img:hover {
  display: block;
  height: 150px;
  width: 150px;
  cursor: pointer;
}